<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <intent>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.First"
        tools:targetApi="31">
        <activity
            android:name=".DrawActivity"
            android:exported="false" />
        <activity
            android:name=".LoserActivity"
            android:exported="false" />
        <activity
            android:name=".WinnerActivity"
            android:exported="false" />
        <activity
            android:name=".EndGameActivity"
            android:exported="false" />
        <activity
            android:name=".Real_GameOnline"
            android:exported="false" />
        <activity
            android:name=".PlayOnlineGameActivity"
            android:exported="false" />
        <activity
            android:name=".JoinCreateRoomActivity"
            android:exported="false" />
        <activity
            android:name=".GameRoom"
            android:exported="false" />
        <activity
            android:name=".Leaderboard"
            android:exported="false" />

        <receiver
            android:name=".AlarmReciver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Real_GameMode"
            android:exported="false" />
        <activity
            android:name=".Real_GameReg"
            android:exported="false" />
        <activity
            android:name=".Real_startGame"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>